scripts/redis-benchmark
scripts/redis-check-aof
.vscode
scripts/benchmarks/*/logs
scripts/benchmarks/*/csvs
scripts/benchmarks/*/temp
scripts/benchmarks/URING_AOF/temp-integrity
scripts/graphs
scripts/benchmarks/__pycache__
scripts/persistance-data